@import url('patientDetails/header.css');
@import url('patientDetails/sidebar.css');
@import url('patientDetails/main-content.css');
@import url('patientDetails/actions.css');
@import url('patientDetails/tables.css');
@import url('patientDetails/dental-chart.css');
@import url('patientDetails/modals.css');
@import url('patientDetails/ledger.css');
@import url('patientDetails/tooltips.css');
@import url('patientDetails/forms.css');